.packages {
  margin: 50px auto;
  width: 90%;
  display: flex;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

/* Card */
.packages-card {
  flex: 1;
  background: #fff;
  border-radius: 14px;
  padding: 25px 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.packages-card:hover {
  transform: translateY(-20px);
  box-shadow: 0 12px 30px rgba(101, 94, 94, 0.15);
}


/* Image */
.package-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
}

/* Text */
.package-card h3 {
  font-size: 22px;
  margin-bottom: 8px;
  color: #222;
}

.price {
  font-size: 18px;
  font-weight: 600;
  color: #ec8a29;
  margin-bottom: 6px;
}

.desc {
  font-size: 15px;
  color: #555;
  line-height: 1.6;
}

/* Responsive */
@media (max-width: 650px) {
  .packages {
    flex-direction: column;
    align-items: center;
  }

  .package-card {
    max-width: 90%;
  }
}