.ripple-container {
  position: fixed;
  inset: 0;
  background: linear-gradient(to bottom, #ffcc00, #f4f4f4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}
h2{
    color: rgb(31, 30, 30);
    font-style: italic;
    font-size: 5rem;
    text-align: center;
    margin-top: 1rem;
}
canvas {
  position: absolute;
  inset: 0;
}

.logo-box {
  position: relative;
  text-align: center;
  color: white;
  animation: zoomLogo 1s ease forwards;
}

.logo-box img {
  width: 25rem;
  height: 25rem;
  margin-bottom: 50px;
}

@keyframes zoomLogo {
  from {
    transform: scale(1);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .logo-box img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 20px;
  }
  h2{
    font-size: 2rem;
  }
}
@media (max-width: 480px) {
  .logo-box img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 15px;
  }
  h2{
    font-size: 1.5rem;
  }
}
