.title{
    text-align: center;
    color: black;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 70px 0 30px;
}
.title h2{
    font-size: 36px;
    color: black;
    margin-top: 10px;
    text-transform: none;
}