.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding: 15px 0;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left:20px;
}
/* ---------media query for responsive footer section--------- */       
@media (max-width: 650px){
    .footer{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}